.course-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #f5f5f5;
  }
  
  .course-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(252, 243, 239);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .course-card:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .course-image {
    width: 50%;
    height: auto;
    border-radius: 5px;
  }
  
  .course-content {
    padding: 2rem;
    text-align: left;
  }
  
  .course-content h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .course-content p {
    color: #666;
    line-height: 1.6;
  }
  